@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --main-color: rgb(255, 178, 77);
}
.app{
    /* background-color: var(--main-color);
    color: var(--main-color); */
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quote-box{
  background-color: white;
  width: 450px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 40px;
  border-radius: 5px;
}

.quote-text{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 30px;
}

#text{
  margin-left: 10px;
}

.quote-author{
  width: 100%;
  display: flex;
  justify-content: end;
}

.quote-buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.quote-buttons .button {
  /* background-color: var(--main-color); */
  color: white;
  border-radius: 5px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  
}

.quote-buttons .button#tumblr-quote{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: larger;
}

.quote-buttons .button#new-quote{
  width: 100px;
  height: 40px;
}